systemProp.http.proxyHost=127.0.0.1
systemProp.http.proxyPort=7890
systemProp.https.proxyHost=127.0.0.1
systemProp.https.proxyPort=7890
AMAP_KEY=replace-with-your-amap-key
CLOUD_WORKER_URL=https://replace-with-your-worker.workers.dev
